body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* common styles */

.header, .main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-header, .container-main{
    margin-top: 40px;
    border-radius: 10px;
    width: 90vw;
}
/* ---
    top-section styles
---- */

.top-banner{
    background-color: #161616;
    display: flex;
    border: 0px;
    border-radius: 30px;
    padding: 30px 0px 0px 30px;
    color: #ffffff;
}
.header-info {
    margin-right: 20px;
    width: 95%;
}
.section-title{
    font-weight: 700;
    font-size: 4em;
    line-height: 70px;
    margin-bottom: 20px;
}
.section-text{
    line-height: 1.5;
    margin-bottom: 20px;
}
.live-button{
    background-color: #ffffff;
    color: #b40101;
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 10px;
    margin-top: 20px;

    transition: padding 0.5s;
}
.live-button:hover{
    background-color: #b40101;
    color: #fff;
    padding: 16px 30px;
}
.live-button i{
    padding-left: 15px;
}

.section-img{
    width: 90%;
    height: 90vh;
    background-image: url(../assets/Banner-Image.png) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* -----------
    main section styles
--------- */
.container-main{
    display: grid;
    grid-template-columns: 270px repeat(1, 1fr);
    gap: 30px;
}
.menu{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    background-color: #f5f5f5;
}
.buttons{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding-top: 8%;
}
.button{    
    border: 0.5px solid #777777;
    border-radius: 8px;
    width: 235px;
    padding: 16px 0px;
    background-color: #fff;
    text-align: center;
}
.button a{
    text-decoration: none;
    color: #161616;
}
.button.clicked{
    background-color: #141414;
}
.button.clicked a{
    color: #ffffff;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 100%;
}
.blog{
    border: 0.5px solid #777777;
    border-radius: 15px;
    width: 100%;
}
.blog-img img{
    width: 100%;
}
.img-title{
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 2px 4px;
    border: 1px solid #777777;
    border-radius: 5px;
}
.headlines{
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 15px;
}
.blog-footer{
    display: flex;
    column-gap: 25px;
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 15px;
}
.view-all-button{
    display: none;
}
/*-------
     footer section styles
-------- */
.container-footer{
    background-color: #161616;
    margin-top: 60px;
}
.footer-text{
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
    padding-top: 7%;
    text-align: center;
}
.container-footer hr{
    border: 1px solid #ffffff1a;
    width: 80%;
}
.links{
    display: flex;
    justify-content: space-around;
    column-gap: 15px;
    padding: 5% 25%;
}
.links a{
    font-size: 12px;
    text-decoration: none;
    color: #B9B9B9;
}
.social-links {
    font-size: 18px;
    color: #b9b9b9;
    text-align: center;
}
.social-links i{
    margin: 0px 10px;
    font-size: 18px;
    color: #b9b9b9;
    margin-bottom: 20px;
}

/* -----responsive header section---- */

@media only screen and (max-width: 992px) and (min-width: 576px){
    .header-info {
        margin-right: 15px;
        width: 80%;
    }
    .section-title{
        font-weight: 700;
        font-size: 3em;
        line-height: 50px;
        margin-bottom: 15px;
    }
    .section-text{
        font-size: 0.75em;
    }
    .section-img{
        width: 80%;
        background-position: center;
    }
    /* reponsive main section  */

    .container-main{
        display: flex;
        flex-direction: column;
    }
    .menu{
        width: 100%;
        border-radius: 10px;
        background-color: #fff;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .view-all-button{
        margin: auto;
        background-color: #141414;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        padding: 16px 25px;
        border-radius: 10px;
        transition: padding 0.5s;
        display: inherit;

    }
    .view-all-button:hover{
        padding: 16px 30px;
    }
}
@media only screen and (max-width:575px) {
    .top-banner{
        background-color: #161616;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 0px;
        text-align: center;
        border: 0px;
        border-radius: 30px;
        color: #ffffff;
    }
    .section-title{
        font-weight: 600;
        font-size: 2.75em;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .section-text{
        font-size: 0.75em;
    }
    .section-img{
        background-position: bottom;
    }
    .container-main{
        display: flex;
        flex-direction: column;
        column-gap: 20px;
    }
    .menu{
        width: 100%;
        height: fit-content;
        padding: 0px;
        margin-bottom: 8%;
        background-color: #ffffff;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        row-gap: 15px;
    }
}